@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Geo');

header {
    text-align: center;
    font-family: 'Geo', sans-serif;
}

header h1 {
    font-size: 6em;
    margin-bottom: 0;
}

header p {
    font-size: 2em;
    margin-top: 0;
}

.container-with-border {
    background: #C6C6C6;
    border: 10px solid #C6C6C6;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    margin: 2vw auto 0 auto; /*top should be changed using jquerry for mobile devices*/
    text-align: center;
}

.main-panel {
    background: #232323;
    border: 6px solid #232323;
    border-radius: 10px;
    width: 480px;
    height: 480px;
    position: relative;
}

.main-panel h2 {
    font-size: 2.5em;
    font-family: 'Droid Sans', sans-serif;
    color: white;
    margin-top: 2em;
}

.game-starter {
    box-sizing: border-box;
    visibility: hidden;
}

.game-choice {
    visibility: hidden;
}

.fields {
    color: white;
    padding: 0;
    margin-bottom: 0;
}

.fields li {
    width: 30%;
    height: 30%;
    display: inline-block;
    position: relative;
    z-index: 1000;
    margin-left: 2px;
    margin-right: 2px;
    overflow: hidden;
    background: #232323;
}

li {
    list-style: none;
    text-align: -webkit-match-parent;
}

li i {
    font-size: 10rem;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    font-style: normal;
    color: rgba(220, 220, 220, .7);
    z-index: 500;
}

.game-board {
    margin-top: 10px;
    position: relative;
}

#canvas {
    height: 95%;
    width: 92%;
    margin-top: 2px;
    position: absolute;
    z-index: 0;
    left: 20px;
    opacity: 1;
    background: white;
    display: block;
}

/*.game-starter .game-choice button {
    color: white;
    background: #232323;
    border: none;
    font-size: 2em;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.game-choice button:hover {
    !*-webkit-transition: border 0.2s ease;
    -moz-transition: border 0.2s ease;
    -o-transition: border 0.2s ease;
    transition: border 0.2s ease;*!
    border: 2px dashed white;
    border-radius: 10px;
}

.game-choice button:focus {
   !* -webkit-transition: border 0.2s ease;
    -moz-transition: border 0.2s ease;
    -o-transition: border 0.2s ease;
    transition: border 0.2s ease;*!
    border: 2px dashed white;
    border-radius: 10px;
    outline: 0;
}*/
